@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "Merriweather", serif;
} */

/* Remove focus ring on the input */
.custom-phone-input .PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Remove focus ring on the country dropdown */
.custom-phone-input .PhoneInputCountry:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* Ensuring transparent background remains */
.custom-phone-input input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}

.slick-active div div {
  opacity: 1; /* Makes the inner black dot visible for active dots */
}

.blog-content h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 24px !important;
  font-weight: 100 !important;
  color: #00222f;
}

@media (max-width: 768px) {
  .blog-content h2,
  .blog-content h3 {
    font-size: 18px;
  }
}

.blog-content p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 15px !important;
  color: #00222f;
}

@media (max-width: 768px) {
  .blog-content p {
    font-size: 12px !important;
  }
}

.blog-content ul,
.blog-content ol {
  list-style-position: outside;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.blog-content ul {
  list-style-type: disc;
}

.blog-content ol {
  list-style-type: decimal;
}

.blog-content li {
  display: list-item;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 15px !important;
  font-weight: 400;
  color: #00222f;
}

@media (max-width: 768px) {
  .blog-content li {
    font-size: 12px !important;
  }
}

.blog-content img {
  width: 50%;
  border-radius: 10px;
  height: auto;
}

@media (max-width: 768px) {
  .blog-content img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  /* Adjust for mobile */
  .hide-br {
    display: none;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}

.cc-btns {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cc-btns > button {
  padding: 10px;
}

/* html:not(.cc--darkmode) #cc-main {
  --cc-overlay-bg: rgba(215, 221, 224, 0.761);
} */
